$def with (modes_data, custom_text_mode_enabled, current_mode_id)
<html>
    <head>
        <title>LED Modes</title>
        <link rel="shortcut icon" type="image/icon type" href="webserver/static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="webserver/static/index.css">
        <script type="text/javascript" src="webserver/static/main.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>
    <body>
        <div class="page-wrapper">
            <div class="content-wrapper">
                <div class="title-wrapper">
                    <h1>LED Controller Modes</h1>
                </div>
                <div class="mode-buttons-wrapper">
                    $for id, mode_data in modes_data.items():
                        $if mode_data['enabled']:
                            $ class_name = ''
                            $if id == current_mode_id:
                                $ class_name = 'active-mode'
                            <button class='$class_name' onclick="onClickModeSwitch(this, '$id')">
                            $mode_data['name']
                            </button>
                </div>
                $if custom_text_mode_enabled:
                    <div class='custom-text-wrapper'>
                        <div class="input-wrapper">
                            <span>Custom Text:</span>
                            <input id="custom-text-input" type="text" onkeydown="onInputValueChange()">
                        </div>
                        <div class="input-wrapper">
                            <span>Custom Color:</span>
                            <input type="color" id="custom-color-input" onchange="onInputValueChange()" value="#ffffff">
                        </div>
                        <div class="button-wrapper">
                            <button id="set-custom-text-button" onclick="onClickCustomText(this)">
                                Display Custom Text
                            </button>
                        </div>
                    </div>
                <div>
                    <button onclick="onClickShutdown()">
                        Shutdown
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>