$def with (mode_names, current_mode_index)
<html>
    <head>
        <title>LED Modes</title>
        <link rel="shortcut icon" type="image/icon type" href="webserver/static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="webserver/static/index.css">
        <script type="text/javascript" src="webserver/static/main.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>
    <body>
        <div class="page-wrapper">
            <div class="title-wrapper">
                <h1>LED Controller Modes</h1>
            </div>
            <div class="content-wrapper">
                $for x in range(len(mode_names)):
                    $ class_name = ''
                    $if x == current_mode_index:
                        $ class_name = 'active-mode'
                    <button class='$class_name' onclick="on_click_mode_switch(this, $x)">
                    $mode_names[x]
                    </button>
            </div>
            <div class='custom-text-container'>
                <div>
                    <span>Custom Text:</span>
                    <input id="custom-text-input" type="text" onkeydown="on_input_value_change()">
                </div>
                <div>
                    <span>Custom Color:</span>
                    <input type="color" id="custom-color-input" onchange="on_input_value_change()" value="#ffffff">
                </div>
                <div class="button-wrapper">
                    <button id="set-custom-text-button" onclick="on_click_custom_text(this)">
                        Display Custom Text
                    </button>
                    <button id="update-custom-text-button" disabled='true' onclick="on_click_custom_text_update(this)">
                        Update
                    </button>
                </div>
            </div>
            <div>
                <button onclick="on_click_shutdown()">
                    Shutdown
                </button>
            </div>
        </div>
    </body>
</html>